@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assets/inicio.webp");
    background-size: cover;
    background-position: center center;
    height: 100vh; 
    color: #fff;
}

#inicio .contenido header{
    background-color: rgba(121, 187, 172, 0.516);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: rgb(118, 211, 211);
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover{
    color: rgb(2, 220, 220);
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 30px;
    color: rgb(118, 211, 211);
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover{
    background-color: cadetblue;
}

#icono-nav{
    color: #fff;
    display: none;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: rgb(57, 185, 185);
}

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: black;
    display: flex;
}
#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #a4dac9ca;
}

#sobremi .titulo-seccion{
    color: black;
    font-size: 30px;
    text-decoration: dotted;
}

#sobremi .descripcion2{
    color: black;
}

#sobremi .sobremi{
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: mediumturquoise;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    color: black;
}

#sobremi .sobremi h2 span{
    color: rgb(54, 194, 196);
}

#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: slategrey;
    margin-bottom: 12px;
}

#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid black;
}

#sobremi .sobremi a:hover{
    background-color: rgba(41, 205, 205, 0.673);
    color: #fff;
}

#servicios{
    padding: 100px 15px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: black;
}

#servicios  .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: mediumturquoise;
    text-decoration-thickness: 5px;
}

#servicios .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}
#servicios .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 15px;
    transition: .5s;
}

#servicios .fila .servicio:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #85e3cf9f;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr{
    width: 30%;
    margin: auto;
    color: black;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#servicios .fila .servicio p{
    font-size: 14px;
    line-height: 22px;

}

#contenedor-skills{
    background: linear-gradient(#0f1213d3, rgba(0, 0, 0, 0.711)), url("../Assets/italy.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
    text-align: center;
    color: #fff;
}

#contenedor-skills .skill{
    max-width: 600px;
    margin: 30px auto;
}

#contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
    
}

#contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

#contenedor-skills .skill .barra{
    background-color: #fff;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

#contenedor-skills .skill .barra .barraprogreso1{
    background-color: #48bdbb;
    width: 90%;
    height: 6px;
    animation: progreso1 3s forwards;
}

#contenedor-skills .skill .barra .barraprogreso2{
    background-color: #48bdbb;
    width: 85%;
    height: 6px;
    animation: progreso2  3s forwards;
}

#contenedor-skills .skill .barra .barraprogreso3{
    background-color: #48bdbb;
    width: 95%;
    height: 6px;
    animation: progreso3 3s forwards;
}

#contenedor-skills .skill .barra .barraprogreso4{
    background-color: #48bdbb;
    width: 40%;
    height: 6px;
    animation: progreso4 3s forwards;
}
@keyframes progreso1{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

@keyframes progreso2{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}

@keyframes progreso3{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}

@keyframes progreso4{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

#portafolio{
    max-width: 1100px;
    padding-top: 100px 0;
    margin: auto;
}

#portafolio .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: mediumturquoise;
    text-decoration-thickness: 5px;
}

#portafolio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #52b6a5d3;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portafolio .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portafolio .fila .proyecto:hover img{
    filter: grayscale(0);
}

#portafolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: #1c1c1cd3;
    color: #48bdbb;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

#contacto{
    padding: 100px 15px;
    background-color: rgb(249, 249, 249);
}

#contacto .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color: mediumturquoise;
    text-decoration-thickness: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #424242
}

#contacto .contenedor-form .mitad input{
    width: 48%;
}

#contacto .contenedor-form .fila .input-full{
    width: 100%;
}

#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
}

#contacto .btn-enviar:hover{
    background-color: #3c948dd3;
    color: #ffffff;
}

footer{
    padding: 60px 0;
    background-color: #000000;
    color: #fff;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 10px;
    font-size: 30px;
}

@media screen and (max-width:800px) {
    .redes {
        display: none;
    }
    nav{
        display: table-column-group;
    }
}